body {
	margin: 0;
	padding: 0;
	background: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin: 40px 0;
}

h2 {
	margin-top: 0;
}

h1 {
	font-size: 48px;
	margin-bottom: 20px;
	font-weight: lighter;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 20px;
}

a {
	display: inline-block;
	padding: 10px 20px;
	background-color: #00FFB2;
	color: #000000;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

a:hover {
	background-color: #4BFFC9;
}

button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
}

.container {
	width: auto;
	margin: auto;
	padding: 40px;
	text-align: center;
}

.profile-pic {
	width: auto;
	height: auto;
}

.container h1 {
	font-family: 'Lato', sans-serif;
  font-weight: 100;
	font-size: 48px;
}

.container p {
	font-family: 'Lato', sans-serif;
  font-weight: 300;
	font-size: 18px;
}
